_pomocnicze_/pir-websockets-twitter-pl.json
[{"id":"b797701c.e4544","type":"http request","z":"eac2846c.8559e8","name":"pobranie zdjęcia","method":"GET","ret":"bin","url":"http://devices.webofthings.io:9090/snapshot.cgi?user=snapshots&pwd=4MXfTSr0gH","tls":"","x":688.7500076293945,"y":176.25000381469727,"wires":[["8a1d1305.28921"]]},{"id":"c03e037b.444a5","type":"twitter out","z":"eac2846c.8559e8","twitter":"","name":"Tweet","x":1038.250015258789,"y":240.00000381469727,"wires":[]},{"id":"8a1d1305.28921","type":"function","z":"eac2846c.8559e8","name":"skopiowanie zdjęcia","func":"msg.media = msg.payload;\nmsg.payload = 'Wykryto włamywacza!';\nreturn msg;","outputs":1,"noerr":0,"x":841.7500114440918,"y":236.25000286102295,"wires":[["c03e037b.444a5"]]},{"id":"5044f6fe.f70ea8","type":"function","z":"eac2846c.8559e8","name":"sprawedzenie wartości PIR","func":"if(msg.presence) {\n    return msg;\n}\nelse return null;","outputs":1,"noerr":0,"x":467,"y":237,"wires":[["b797701c.e4544"]]},{"id":"9323a1a5.b3a73","type":"http request","z":"eac2846c.8559e8","name":"włączenie/wyłącznie diody","method":"POST","ret":"txt","url":"http://localhost:8484/actions/ledState","tls":"","x":785.5000114440918,"y":299.75000381469727,"wires":[["64b1b03d.69cea"]]},{"id":"64b1b03d.69cea","type":"debug","z":"eac2846c.8559e8","name":"","active":true,"console":"false","complete":"true","x":997.5000152587891,"y":338.2500057220459,"wires":[]},{"id":"1403648e.f2c26b","type":"function","z":"eac2846c.8559e8","name":"przygotowanie komunikatu LED","func":"msg.headers = {\n'Accept' : 'application/json',\n'Content-Type' : 'application/json',\n'Authorization' : 'cKXRTaRylYWQiF3MICaKndG4WJMcVLFz'\n}\nif(msg.presence) {\n    msg.payload = {\"ledId\" : 1, \"state\" : true};\n    return msg;\n} else {\n    msg.payload = {\"ledId\" : 1, \"state\" : false};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":477.00000762939453,"y":297.5000047683716,"wires":[["9323a1a5.b3a73","f247d37e.d25a2"]]},{"id":"2e89ef00.6f3582","type":"websocket in","z":"eac2846c.8559e8","name":"Pobranie PIR","server":"","client":"9a3e3a56.7f3de8","x":221,"y":253,"wires":[["e44c7999.cdb4c8","1403648e.f2c26b","5044f6fe.f70ea8"]]},{"id":"e44c7999.cdb4c8","type":"debug","z":"eac2846c.8559e8","name":"PIR event","active":true,"console":"false","complete":"true","x":358.00000381469727,"y":372.5000057220459,"wires":[]},{"id":"f247d37e.d25a2","type":"debug","z":"eac2846c.8559e8","name":"","active":true,"console":"false","complete":"false","x":727.0000076293945,"y":400.5000057220459,"wires":[]},{"id":"9a3e3a56.7f3de8","type":"websocket-client","path":"ws://localhost:8484/properties/pir","wholemsg":"true"}]