_pomocnicze_/pir-http-twitter-pl.json
[{"id":"f79a5cac.05a43","type":"http request","z":"391b70c.1b4429","name":"pobranie zdjęcia","method":"GET","ret":"bin","url":"http://devices.webofthings.io:9090/snapshot.cgi?user=snapshots&pwd=4MXfTSr0gH","tls":"","x":721.0000152587891,"y":250.75000476837158,"wires":[["d4ebc607.c21198"]]},{"id":"6d40e28.1202b1c","type":"inject","z":"391b70c.1b4429","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105,"y":370,"wires":[["ff9b6325.1f687"]]},{"id":"d5510c88.794be","type":"twitter out","z":"391b70c.1b4429","twitter":"","name":"Tweet","x":1078,"y":277,"wires":[]},{"id":"d4ebc607.c21198","type":"function","z":"391b70c.1b4429","name":"skopiowanie zdjęcia","func":"msg.media = msg.payload;\nmsg.payload = 'Wykryto włamywacza!';\nreturn msg;","outputs":1,"noerr":0,"x":877.7500152587891,"y":304.50000381469727,"wires":[["d5510c88.794be"]]},{"id":"a3168ac1.bfe8a8","type":"http request","z":"391b70c.1b4429","name":"pobranie PIR","method":"GET","ret":"obj","url":"http://localhost:8484/properties/pir","tls":"","x":320.50000762939453,"y":197.00000381469727,"wires":[["cc24f722.2f69e8","28763b46.73c7e4"]]},{"id":"ff9b6325.1f687","type":"function","z":"391b70c.1b4429","name":"dodanie nagłówków","func":"msg.headers = {\n'Accept' : 'application/json',\n'Authorization' : 'cKXRTaRylYWQiF3MICaKndG4WJMcVLFz'\n}\nreturn msg;","outputs":1,"noerr":0,"x":204,"y":272,"wires":[["a3168ac1.bfe8a8"]]},{"id":"cc24f722.2f69e8","type":"function","z":"391b70c.1b4429","name":"sprawdzenie wartości PIR","func":"if(msg.payload[0].presence) {\n    return msg;\n}\nelse return null;","outputs":1,"noerr":0,"x":534.2500076293945,"y":317.7500047683716,"wires":[["f79a5cac.05a43"]]},{"id":"91084b29.a12a08","type":"http request","z":"391b70c.1b4429","name":"włączenie/wyłączenie diody","method":"POST","ret":"obj","url":"http://localhost:8484/actions/ledState","tls":"","x":771.5000152587891,"y":361.7500057220459,"wires":[["6039f247.33f69c"]]},{"id":"6039f247.33f69c","type":"debug","z":"391b70c.1b4429","name":"","active":true,"console":"false","complete":"true","x":987.2500152587891,"y":356.5000047683716,"wires":[]},{"id":"28763b46.73c7e4","type":"function","z":"391b70c.1b4429","name":"przygotowanie komunikatu LED","func":"msg.headers = {\n'Accept' : 'application/json',\n'Content-Type' : 'application/json',\n'Authorization' : 'cKXRTaRylYWQiF3MICaKndG4WJMcVLFz'\n}\nif(msg.payload) {\n    msg.payload = {\"ledId\" : 1, \"state\" : true};\n    return msg;\n} else {\n    msg.payload = {\"ledId\" : 1, \"state\" : false};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":475.00001525878906,"y":399.5000057220459,"wires":[["91084b29.a12a08"]]}]